[Desktop Entry]
Version=1.0
Type=Application
Name=X11 Monitor Dimmer
Comment=Show or hide the X11 Monitor Dimmer controller
Exec=/usr/bin/x11-monitor-dimmer-toggle
Icon=x11-monitor-dimmer
Terminal=false
Categories=Utility;GTK;
Keywords=Dimmer;Monitor;Display;Brightness;X11;
StartupNotify=false
StartupWMClass=X11MonitorDimmer
